<%- contentFor('body')  %>

<section>
    <h2>Welcome to the Home Page</h2>
    <p>This is the content of the home page</p>
</section>

<%- contentFor('script') %>
<script src="/js/index.js"></script>
